<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<ScrollView orientation="vertical">
    <StackLayout>
        <Label  class="h2" style="padding: 30px" text="Demo NativeScript application"></Label>
        <Image  src="res://nativescript_loves_angular" width="100%"></Image>
        <text-view  class="h4" text="Wifi service: {{wifiManager}}"></text-view>
        <text-view  class="h4" text="Connection info: {{wInfo}}"></text-view>
        <text-view  class="h4" text="getApplication(): {{osType}}"></text-view>
        <text-view  class="h4" text="MAC address: {{mac}}"></text-view>
        <text-view  class="h4" text="UUID: {{uid}}"></text-view>
        <Button text="Click me!" width="400px" (tap)="openDialog()"></Button>
    </StackLayout>
</ScrollView>
